.Faction {
  font-size: 1rem;
}

.Faction input {
  margin-right: 0.5rem;
}

.Faction input:checked + span {
  color: green;
}

.Faction input:disabled,
.Faction input:disabled + span {
  opacity: 50%;
}
